@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Corben:wght@700&family=Lato:wght@100;400;700;900&family=Orbitron:wght@400;900&family=Roboto+Condensed:wght@300;400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --gutter: 16px;
  --primary-color: #bb67ef;
  --secondary-color: #ebebeb;
  --tertiary-color: #d9d9d9;
  /* --quaternary-color: #1f007c; */
  --quaternary-color: #330594;
  --font-color: #000000;
  --m-main-header-height: 106px;
  --m-second-header-height: 40px;
  --m-main-height: auto;
  --m-footer-height: auto;
}

body {
  background-color: white;
  min-height: 100dvh;
  max-height: 100dvh;
  /* justify-content: center;
  align-items: center; */
  font-family: "Corben", serif;
  font-family: "Orbitron", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  font-family: "Lato", sans-serif;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-layout-container {
  display: flex;
  justify-content: center;
  height: 100vh;
}

main:not(.zero-m) {
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  /* margin-bottom: 20px; */
}

.main-layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: [primary-header] 80px [secondary-header] 40px [main] auto [footer] 36px;
  height: 100svh;
  max-height: 100svh;
  width: 100%;
  max-width: 1480px;
}

.loading {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

button {
  cursor: pointer;
}

.scroll-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.scroller {
  width: 100%;
  max-width: 900px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

footer {
  min-height: 36px;
  display: flex;
  justify-content: start;
  align-items: center;
  /* margin-top: -8px; */
  background-color: white;
}

.spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* @media (prefers-color-scheme: dark) {
    :root {
      --foreground-rgb: 255, 255, 255;
      --background-start-rgb: 0, 0, 0;
      --background-end-rgb: 0, 0, 0;
    }
  } */

@layer base {
  :root {
    --background: var(--quaternary-color);
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 277, 81%, 67%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0, 0%, 92%;
    --secondary-foreground: 0 0% 9%;
    --quaternary: var(--quaternary-color);
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
