.streakerGrid {
    padding: 0 16px;
    display: grid;
    grid-template-columns: auto repeat(5, 1fr);
    grid-auto-rows: 40px;
    gap: 8px;
    overflow: hidden;
    place-content: center;
    position: relative;
    background-color: white;
}
.dayNumber {
    grid-column: 1 / 2; /* This ensures the day number is always in the first column */
  }

.streakerGrid:last-of-type {
    padding: 0 16px 0 16px;
    display: grid;
    grid-template-columns: auto repeat(5, 1fr);
    grid-auto-rows: 40px;
    gap: 8px;
    overflow: hidden;
    place-content: center;
}

.streakerGrid:first-of-type {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
    margin-bottom: 0;
}