.streakerGrid {
    padding: 0 var(--grid-gutter);
    display: grid;
    grid-template-columns: auto repeat(5, 1fr);
    grid-auto-rows: var(--grid-row-height);
    gap: var(--grid-gap);
    overflow: hidden;
    place-content: center;
    position: relative;
    background-color: var(--grid-bg);
}
.dayNumber {
    grid-column: 1 / 2; /* This ensures the day number is always in the first column */
  }

.streakerGrid:last-of-type {
    padding: 0 var(--grid-gutter) 0 var(--grid-gutter);
    display: grid;
    grid-template-columns: auto repeat(5, 1fr);
    grid-auto-rows: var(--grid-row-height);
    gap: var(--grid-gap);
    overflow: hidden;
    place-content: center;
}

.streakerGrid:first-of-type {
    position: sticky;
    top: 0;
    background-color: var(--grid-bg);
    z-index: 1;
    margin-bottom: 0;
}
